button {
    text-ecoration: none;
    text-align: center;
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: 0 0;
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    overflow: hidden;
    font-family: inherit;
    cursor: pointer;
    outline: 0;
    box-sizing: border-box;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    border: var(--f7-button-border-width, 0px) solid var(--f7-button-border-color, var(--f7-theme-color));
    font-size: var(--f7-button-font-size);
    color: var(--f7-button-text-color, var(--f7-theme-color));
    height: var(--f7-button-height);
    line-height: calc(var(--f7-button-height) - var(--f7-button-border-width, 0) * 2);
    padding: var(--f7-button-padding-vertical, 0px) var(--f7-button-padding-horizontal);
    border-radius: var(--f7-button-border-radius);
    min-width: var(--f7-button-min-width);
    font-weight: var(--f7-button-font-weight);
    letter-spacing: var(--f7-button-letter-spacing);
    text-transform: var(--f7-button-text-transform);
    background-color: var(--f7-button-bg-color);
    box-shadow: var(--f7-button-box-shadow);
}

.tab-link.tab-link-active {
    background-color: #009071 !important;
    color: #fff !important;
    font-weight: bold !important;
}

.dataTables_filter {
    display: none;
}
.dataTables_length {
    display: none;
}

.dataTables_info {
    display: none;
}

.dataTables_paginate.paging_simple_numbers {
    width: 100%;
    text-align: center !important;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #fff !important;
}
.thDataTable {
    text-align: left;
    background-color: #009071 !important;
    color: #fff !important;
    font-weight: bold !important;
    font-size: 17px !important;
}

.divButton {
    display: flex;
    justify-content: end;
    padding: 10px;
}

.button.button-outline.button-round {
    width: fit-content;
    --f7-button-border-color: #009071;
    color: #009071;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: auto;
    border-radius: 15px !important;
}
.iconBtn {
    margin-left: 11px;
    vertical-align: middle;
}
.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: rgb(0 0 0 / 3%);
    color: #212529;
}
.btnEliminar {
    --f7-button-border-color: #ff0037 !important;
    color: #ff0037 !important;
    border-radius: 15px !important;
}

.datatable {
    width: 100%;
}

input.FWM-input.capitalize {
    text-transform: capitalize;
}

.capitalize {
    text-transform: capitalize;
}

.floating {
    background-color: white;
    font-size: 16px !important;
    border: 1px solid gray !important;
    color: #5d5d5d !important;
    padding: 10px !important;
    width: 100%;
    border-radius: 8px !important;
}

input-outline:after,
.item-input-outline .item-input-wrap:after {
    border-radius: 8px !important;
}

.item-input-outline.item-input-focused .item-input-wrap:after {
    border: 2px solid #009071 !important;
    border-radius: 8px !important;
}

.item-input-outline input {
    border-radius: 8px !important;
}

.md .item-input-focused .item-floating-label {
    color: #009071 !important;
}

li.item-input-with-value > div > div.item-title.item-floating-label {
    color: #009071 !important;
}

.item-input-wrap > input.floating.input-with-value {
    border: 2px solid #009071 !important;
    border-radius: 8px !important;
}

.progressbar-infinite:before {
    background-color: #009071 !important;
}

.progressbar-infinite::after {
    background-color: #009071 !important;
}

.progressbar-infinite {
    background-color: #9bf0de !important;
}

.btnBlue {
    --f7-button-border-color: #0277bd !important;
    color: #0277bd !important;
    border-radius: 15px !important;
}

.btnGreen {
    --f7-button-border-color: #009071 !important;
    color: #009071 !important;
    border-radius: 15px !important;
}

.btnRed {
    --f7-button-border-color: #ff0037 !important;
    color: #ff0037 !important;
    border-radius: 15px !important;
}

.sweet-overlay {
    z-index: 12500 !important;
}

.swipe-handler {
    padding-bottom: 35px;
}
.timeline-item-divider {
    width: 15px !important;
    height: 15px !important;
    background: #0277bd !important;
}
.ts-dropdown.single {
    z-index: 12500;
}

.ts-dropdown-content > div.option {
    font-size: 16px;
    margin: 10px 0px;
}

.card-header:after {
    background-color: transparent !important;
}

* {
    font-size: 17px;
    user-select: none;
}
.row {
    margin-bottom: 10px;
}
td.capitalize {
    text-wrap: nowrap;
}
.card {
    border-radius: 10px !important;
    margin-bottom: 20px !important;
}

.popup.modal-in {
    z-index: 12500;
    height: 90% !important;
    top: 30% !important;
}

/* * UPLOAD FILES */

.container_upload {
    height: 300px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    gap: 5px;
    background-color: rgba(0, 110, 255, 0.041);
    margin: auto;
}

.header_upload {
    flex: 1;
    width: 100%;
    border: 2px dashed #009071;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.header_upload svg {
    height: 100px;
}

.header_upload p {
    text-align: center;
    color: #009071;
}

#file {
    display: none;
}
/******************************************************/
/**********         CHECKBOS       ********************/
/******************************************************/

.checkbox-wrapper-46 input[type="checkbox"] {
    display: none;
    visibility: hidden;
}

.checkbox-wrapper-46 .cbx {
    margin: auto;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}
.checkbox-wrapper-46 .cbx span {
    display: inline-block;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
}
.checkbox-wrapper-46 .cbx span:first-child {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    transform: scale(1);
    vertical-align: middle;
    border: 1px solid #9098a9;
    transition: all 0.2s ease;
}
.checkbox-wrapper-46 .cbx span:first-child svg {
    position: absolute;
    top: 3px;
    left: 2px;
    fill: none;
    stroke: #ffffff;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
}
.checkbox-wrapper-46 .cbx span:first-child:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #009071;
    display: block;
    transform: scale(0);
    opacity: 1;
    border-radius: 50%;
}
.checkbox-wrapper-46 .cbx span:last-child {
    padding-left: 8px;
}
.checkbox-wrapper-46 .cbx:hover span:first-child {
    border-color: #009071;
}

.checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child {
    background: #009071;
    border-color: #009071;
    animation: wave-46 0.4s ease;
}
.checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child svg {
    stroke-dashoffset: 0;
}
.checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child:before {
    transform: scale(3.5);
    opacity: 0;
    transition: all 0.6s ease;
}

@keyframes wave-46 {
    50% {
        transform: scale(0.9);
    }
}

/******************************************************/
/**********         CHECKBOS       ********************/
/******************************************************/

.button-wrapper > button:hover {
    text-decoration: none;
}
